{{>header}}
<div class="container">
            <div class="center">
                <div class="jumbotron">
                	                	

                	<p><h3>Bonjour {{pseudo}}</h3>


                		<h2>voici ton compteur</p></h2>

	
    <p>Tu as donc décidé d'arrêter le : </br>
    	{{jourstop}} / {{moisstop}} / {{anneestop}}

Chaque jour tu fume {{cpd}} cigarette maintenant tu décides de réduire ton nombre de cigarette à {{objectif}}
    par jour.</p>
    C'est déja bien.
    Nous sommes là pour t'apporter des conseils pour atteindre ton objectif.</br>
    sache que si tu arrete de fumer tu pourra:</br>
        _Vivre assez pour voir tes petit enfant grandir</br> 
        
        _Proteger tes proches.</br>
        _Faire des économie ; c'est toujours bien d'avoir plus d'argent </br>
       _ En partangeaut ce site aux maximum tu pourra réduire le taux de polution et donc sauver la planéte .</br>


    Voici une page avec quelques conseilles pour t’aider à atteindre tes ojectifs.</br>

    Clique sur le bouton aidez-moi </br></br>





    <p>
    <a class="btn btn-primary" href="/conseils">aidez-moi</a>
    
    </p>
        <a class="btn btn-primary" href="/delete/{{id}}">Supprimer</a>


    

    
    	</div>
	</div>
</div>
{{> footer}}
