{{> header}}

<div class="container">
    <div class="center">
        <div class="jumbotron">

        	<p>
        		<h1>10 conseils pour arrêter de fumer seul(e)</h1></br>
        	Pour arrêter de fumer, chacun(e) doit trouver la méthode qui lui correspond. Si vous décidez de le faire seul(e), les substituts nicotiniques, en vente libre, augmentent vos chances de réussite. D'autres </br>astuces peuvent également vous être utiles pour faciliter le sevrage. Voici 10 conseils pour mettre toutes les chances de votre côté. 


Faites le point avant d'arrêter de fumer </br>
Choisissez une date pour arrêter de fumer </br>
Dépassez les idées reçues sur l'arrêt du tabac</br>
Utilisez des substituts nicotiniques </br>
Identifiez les situations à risques pour mieux y remédier </br>
Vous avez envie de craquer ? Attendez quelques minutes </br> 
Adoptez une bonne hygiène de vie </br>
Listez les effets bénéfiques de votre arrêt </br>
Faites-vous soutenir </br>
Soyez indulgent(e) avec vous-même</br>
arrêter de fumer seul(e)</br>

Vous avez décidé d'arrêter de fumer et vous voulez entreprendre cette démarche seul(e). Pour éviter au maximum la rechute, il existe des astuces. </br></br></br>

<h2>Faites le point avant d'arrêter de fumer </h2></br>
D'abord posez-vous les bonnes questions : pourquoi arrêtez-vous de fumer? Vous voulez un enfant, vous êtes enceinte, pour vos proches, pour l'amour du sport, pour votre santé... chaque fumeur a une raison qui le touchera plus qu'une autre. La garder bien en tête vous permettra de conserver votre motivation, élément clé de la réussite, tout au long de ce sevrage et notamment dans les moments difficiles. </br>

Ensuite, il convient d'évaluer son degré de dépendance. Pour cela, vous pouvez faire le test de Fagerström. Cette étape est très importante car elle déterminera le dosage de substituts nicotiniques nécessaire à un sevrage.</br> 

Autre point important, quelle méthode vous convient le mieux ? Chaque fumeur est unique et ce qui a fonctionné pour un proche ne sera peut-être pas efficace sur vous. L'important, c'est de trouver la méthode qui convient le mieux à votre profil de fumeur(-se). Pareil pour décider si vous préférez arrêter d'un coup ou progressivement. </br></br></br>

<h2>Choisissez une date pour arrêter de fumer </h2></br>
Après avoir fait le point sur vos raisons de vous arrêter de fumer et avoir évalué votre niveau de dépendance, il faut désormais choisir une date pour vous lancer. Cela vous évitera de remettre votre sevrage au lendemain mais vous laissera aussi le temps de planifier cet arrêt et de vous préparer à surmonter certains obstacles. Prévoyez des alternatives en cas d'envie de fumer, achetez vos substituts...</br></br>


<h2>Dépassez les idées reçues sur l'arrêt du tabac</h2></br>
Ne vous laissez pas décourager par certaines  idées reçues. Ce n'est pas parce que vous arrêtez de fumer que vous allez forcément prendre du poids ou être irritable et désagréable avec votre entourage. Et si cela arrive, ce n'est pas irrémédiable : rééquilibrer son alimentation et faire un peu plus de sport devrait vous permettre d'éviter ou limiter la prise de poids et en ce qui concerne les symptômes du manque, les substituts nicotiniques permettent de les diminuer fortement. </br></br>

<h2>Utilisez des substituts nicotiniques </h2></br>
L'utilisation de substituts nicotiniques augmente de 50 à 70% vos chances de réussite. En effet, la nicotine inhalée avec la fumée passe très rapidement dans le sang et le cerveau. Elle crée une dépendance et à l'arrêt, les symptômes désagréables du sevrage se font sentir (irritabilité, manque de concentration...), pouvant entraîner des rechutes. Les substituts nicotiniques viennent compenser une partie de ce manque de nicotine en apportant au corps la dose nécessaire pour éviter cette sensation de manque. Ils la diffusent lentement. Chaque substitut doit être suffisamment dosé pour être efficace. Il en existe différentes sortes : </br>

Patchs ;</br>
Gommes à mâcher ;</br>
Inhalateur ;</br>
Comprimés sublinguaux ou à sucer. </br>
Ils peuvent être associés entre eux pour une meilleure efficacité. Le patch va diffuser la nicotine lentement tout au long de la journée de manière constante. Mais pour faire face à une forte envie de fumer, notamment à des moments de cigarettes "importantes" (au moment du café, après le repas, en soirée...), les gommes, comprimés ou l'inhaleur offrent une réponse plus adaptée à cette envie. </br></br></br>

<h2>Identifiez les situations à risques pour mieux y remédier </h2></br>
Certaines situations vont mettre votre volonté à l'épreuve, vous le savez d'avance. Au delà de la dépendance physique, la cigarette entraîne également une dépendance psychologique. Avant d'arrêter de fumer, identifiez ces moments qui risquent d'être difficiles : une soirée en terrasse avec des amis fumeurs, un café, la fin du repas... Et surtout prévoyez des alternatives, des réponses. Dans un premier temps évitez de boire de l'alcool quand vous sortez si cela vous donne envie de fumer, répétez-vous les réponses que vous donnerez aux gens qui vous proposent une cigarette : "non j'ai arrêté"... Et si vous avez trop peur de craquer, prévoyez des sorties différentes avec vos amis : un cinéma, un dîner en intérieur, choisissez de préférence des lieux où l'on ne peut pas fumer. Pour la cigarette en fin de repas, dès que vous avez fini de manger, sortez de table et brossez-vous les dents, dans un premier temps, remplacez le café par une tisane ou buvez un grand verre d'eau. </br>

Vous avez envie de craquer ? Attendez quelques minutes  </br>
Vous avez une forte envie de fumer et elle vous semble insurmontable. Pourtant, cette envie va être intense pendant environ 5 minutes, elle connait un pic puis va diminuer. Essayez d'être fort(e) pour la dépasser. Pour vous aider, prenez de grandes inspirations, buvez un grand verre d'eau, sortez vous promener, occupez-vous l'esprit jusqu'à ce qu'elle soit moins forte. Si vous utilisez des substituts nicotiniques, c'est le moment de prendre une gomme, un comprimé ou de sortir votre inhalateur. </br></br>

<h2>Adoptez une bonne hygiène de vie </h2></br>
Vous êtes moins essouflé(e), profitez-en pour trouver une activité physique qui vous fait plaisir. Elle ne doit pas forcément être intense mais elle va vous distraire, vous déstresser et vous aidera à limiter voire éviter la prise de poids liée au sevrage. Pareil côté alimentation, le sevrage n'est pas le moment d'entreprendre un régime draconien mais vous pouvez optez pour des petits ajustements pour avoir une alimentation plus saine. Par exemple, si vous avez envie de sucre, ayez des fruits à portée de main, évitez de vous resservir à table, mangez équilibré mais en quantité suffisante pour éviter les fringales qui pourraient vous faire craquer. </br></br></br>

<h2>Listez les effets bénéfiques de votre arrêt </h2></br>
Ils sont nombreux, variés et se constatent rapidement après l'arrêt : </br>

Vous êtes moins essoufflé(e); </br>
Vous retrouvez les goûts et les odeurs;</br>
Vous avez une meilleure haleine;</br>
Vous faites d'importantes économies. </br>
LES EFFETS SUR LA SANTÉ </br>
Ils sont à la fois immédiats et sur le long terme : </br>

Au bout de 20 minutes, votre pression sanguine et vos pulsations cardiaques redeviennent normales;</br>
Au bout de 24h, le monoxyde de carbone est éliminé; </br>
En 72h, votre respiration s'améliore; </br>
En 2 à 3 semaines, toux et fatigue diminuent; </br>
Un à 9 mois après la dernière cigarette, les cils bronchiques repoussent, vous êtes de moins en moins essouflé(e); 
Au bout d'un an, le risque d'infarctus du myocarde est divisé par deux et celui d'accident vasculaire cérébral rejoint celui d'un non-fumeur; </br>
Au bout de 5 ans, le risque de cancer du poumon diminue presque de moitié; </br>
Au bout de 10 à 15 ans, votre espérance de vie est la même que celle d'un non-fumeur. </br>
Faites-vous soutenir </br>
Prévenez votre entourage que vous arrêtez de fumer pour qu'il vous soutienne. S'il y a des fumeurs, demandez-leur de ne pas allumer de cigarette devant vous pour ne pas être tenté(e). </br>

Si cela peut vous aider, parlez avec d'anciens fumeurs, demandez-leur de partager leur expérience, leurs conseils et astuces. Vous pouvez aussi vous rapprocher de quelqu'un qui est aussi en plein sevrage pour vous soutenir mutuellement. Si vous n'en connaissez pas, vous pouvez vous rendre sur des forums. </br>

Et si vous sentez que vous allez craquer, rendez-vous sur le site de Tabac info service ou appelez le 3989 pour des conseils personnalisés. </br></br></br>

<h2>Soyez indulgent(e) avec vous-même</h2></br></br>
Très important, ne soyez pas trop dur(e) avec vous-même. C'est un moment important de votre vie mais pas toujours facile. Se mettre trop de pression serait d'ailleurs contre-productif, puisque le stress est la première cause de rechute chez les fumeurs qui tentent d'arrêter. Au contraire, gardez des pensées positives, offrez-vous des petits plaisirs en guise de récompense quand vous passez des étapes sans avoir fumé. </br></br></br>

{{> footer}}