{{> header}}

<div class="jumbotron mt-5">
    <div class="container">
    	 <div class="col-md-10 p-lg-10 mx-auto my-10">
    	 	<h1 class="display-4 font-weight-normal">Stop-Clope</h1></br>
            <img src="https://zonestickers.fr/1826-home_default/autocollant-signalisation-panneau-interdit-de-fumer.jpg" alt="Funny Quokka" style="width: 700px;height: 384px;border-radius: 40px;">

    			 
    					<p class="lead font-weight-normal">
    						Sur ce site :</br>
                    		<ul>
								<li>Nous allons vous présenter les dangers du tabac.</li>
								<li>Nous allons aussi faire un suivi de votre situation.</li>
								<li>Nous allons vous aidez à arrêter de fumer en vous donnant quelques conseils testés et approuvés.</li>
							</ul>
                        
                        </p>
      

      
                
                   
                    	
                        <p class="lead font-weight-normal">Avec un peu de volonté tout est possible.</p>
                        </div><br/>
                        
                        <a type="button" class="btn btn-dark" href="/login"style= "text-align: center">Rejoins nous ! </a>
                    </div>
                	</div>
            	</div>
       		 </div>
    </div>
 </div>


 {{> footer}}