{{> header}}

<div class="container">
    <div class="center">
        <div class="jumbotron">
	
					<h1>Fumer : les dangers de la cigarette et du tabac</h1></br>
					 </br>
					</br>

					<h2>A-Le tabagisme</h2>

					<p>Le tabagisme, c'est la consommation abusive de tabac mais aussi l'ensemble de troubles physiologiques et psychiques, voire l'intoxication provoqués par l'abus du tabac. Celui-ci est dorénavant sans aucun doute responsable d'une diminution significative de la durée de vie. Nous re-préciserons ici que dans l'état actuel des connaissances scientifiques, nous n'avons qu'une seule vie...</p></br>

					<h2>B-Données sur la mortalité à cause de la cigarette</h2>

					<p>Durant le XXe siècle, le tabac a entraîné la mort de 100 millions de personnes et ce nombre risque de s'élever à 1 milliard pour le XXIème siècle si les comportements n'évoluent pas (OFDT, 2005). Le tabac est actuellement responsable du décès d'un adulte sur 10 (soit environ 7 millions de morts par an), selon l'OMS.</p></br>

					<h2>C-Cigarette : les conséquences sur la santé</h2>

					<p>Il est prouvé que les produits du tabac contiennent et émettent de nombreuses substances nocives ainsi que des agents cancérigènes connus, dangereux pour la santé humaine après combustion. Les principaux effets sont, chez l'adulte, une augmentation d'environ 25 % des risques de cardiopathie ischémique et de cancer du poumon. Chez les enfants, l'exposition à la fumée de tabac augmente le risque de mort subite du nourrisson, d'infections respiratoires, d'otites et d'asthme.</p></br>
					<p>Lorsque vous inhalez de la fumée de cigarette, vous vous exposez à un cocktail de 4 000 substances chimiques dont plus de 250 sont nocives et une cinquantaine cancérigènes. En voici un aperçu :</p>
					<ul>
						<li>Acétaldéhyde (irritant des voies respoiratoires)</li>
						<li>Acroléine (irritant des voies respoiratoires)</li>
						<li>Acétone (dissolvant)</li>
						<li>Naphtylamine (cancérogène, probablement impliqué dans le cancer de la vessie)</li>
						<li>Acroléine (irritant des voies respoiratoires)</li>
						<li>Méthanol (carburant utilisé pour les fusées)</li>
						<li>Pyrène (toxique pour les reins et le foie)</li>
					</ul>

					<h3>Les principales maladies directement liées à la consommation de tabac</h3>

					<ul>
						<li>les cancers de la trachée, des bronches et du poumon, aussi appelés cancers bronchiques</li>
						<li>la bronchite chronique et les maladies pulmonaires obstructives</li>
						<li>les cancers des lèvres, de la cavité buccale et du pharynx, de l'oesophage, et du larynx.</li>
					</ul>
					<p>Le tabac reste également un facteur de risque très important d'un grand nombre de pathologies : cancer de l'estomac, de la vessie, du col de l'utérus, maladies cardio-vasculaires, probabilité accrue de mort subite du nourisson pour les fumeuses enceintes...</p>

					<h3>Diminution de l'espérance de vie</h3>
					<p>L'usage du tabac entraîne en moyenne une diminution de la vie de :</p>
					<ul>
						<li>2 à 3 ans pour 10 cigarettes par jour</li>
						<li>5 à 7 ans pour 20 cigarettes par jour</li>
						<li>8 à 10 ans pour 40 cigarettes par jour</li>
						
					</ul>

					<h2>D-Cigarette : les conséquences sur l'environnement</h2>
					<p>On l'évoque peu mais 5 millions d'hectares de forêts sont détruits chaque année pour sécher le tabac, contribuant à la déforestation...</br>

					4 300 milliards de mégots sont jetés dans la nature le monde. Malheureusement, les filtres ne sont pas biodégradables et contiennent nombre de substances toxiques. En France, 30 milliards de mégots sont jetés chaque année dont 40 % dans la nature finissent à la poubelle chaque année sont jetés dans la nature.</br>
					Or, un seul mégot peut contaminer plusieurs centaines de litres d’eau en raison du grand nombre de substances chimiques dangereuses qu’il contient (composés aromatiques, métaux lourds,…) et met plus de 10 ans à se dégrader.</p>



		</div>
	</div>
</div>
{{> footer}}


